body{
    font-family: var(--paragraph-font) ;
    max-width: 1780px;
    padding: 40px;
    
}
/*General things */
:root{
    --primary-color: #FFB703;
    --secondary-color: #8ECAE6;
    --accent1-color: #219EBC;
    --accent2-color: #FFB703;
    --color-link:#023047 ;
    --special-color: #8ecae65d;
    
    --heading-font: "Open Sans",serif;
    --paragraph-font: "Open Sans",serif;

    --nav-background-color: #023047;
    --nav-link-color: #219EBC;
    --nav-hover-link-color: #023047;
    --nav-hover-background-color: #219EBC;
}

/*Fist part of the web page*/
header {
	/*margin: 1rem auto;*/
	display: grid;
	grid-template-columns: 200px 1000px 100px;
	align-items: center;
    justify-content: space-around;
	border-bottom: 1px solid #ccc;
	max-width: 2300px;
    text-align: center; 
    background-color: rgb(70, 131, 180);
   
}

.logo img {
	margin: 2rem -5rem 1rem;
	width: 150px;
    height: auto;
}


header nav{

    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;

   
}

.navigation {
    display: flex;
    list-style: none;  
}


.navigation li {
	flex: 1 1 100%;
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 800;
    color: #fff; /*shorthand for white*/
}


.navigation a {
	display: block;
	color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 800;
    color: #fff; /*shorthand for white*/;
	padding: 9px;
    width:  8rem;
	text-decoration: none;
    text-align: center;
}

.navigation a:hover {
    color: #2c76d7;
    background-color:#fff ;
    }


.containerpictures{
    display: grid;
    grid-template-columns: repeat(3, 2fr); /* 3 columnas*/
    gap: 80px; /* Espacio entre las imágenes */
    margin-top: 1rem;
    
}

.imagen1{
    margin-bottom: 2rem;
    background-color:#ffb8037f;
    margin-top: 2rem;
}

.imagen1 img{
    width: 300px;
    height: auto;
    grid-column: 1/2;
    border: 3px solid steelblue;
 
}

.imagen2 img {
    width: 300px;
    height: 300px;
    grid-column: 2/3;
    border: 3px solid var(--accent2-color);
}

.imagen2{
    margin-top: 2rem;
    background-color:rgba(43, 128, 198, 0.704);
    margin-bottom: 2rem;
}

.imagen3 img{
    width: 300px;
    height: auto;
    grid-column: 3/4;
    border: 3px solid steelblue;
}

.imagen3{
    margin-top: 2rem;    
    margin-bottom: 2rem;
    background-color:#ffb8037f;
}



h3,h4 {
    position: relative;
    top: 0px; left: 0px;
    font-family: var(--heading-font);
    color: var(--secondary-color);
    text-align: left;
}

figcaption{
    position: relative;
    font-family: var(--heading-font);
    font-size: 40px;

}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.2rem;
    background-color: #eee;
    display: grid;
  }


  
fieldset {
    display: grid;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 2.5rem;
}

label {
    padding-right: 1.2rem;
    margin: 0.5rem;
  }

input, select, textarea {
    padding: 0.3rem;
    font-size: 1.1rem;
    margin: 0.2rem;
    width: 25rem ;
}


legend{
    text-align: center;
    font-family: Roboto, Arial, sans-serif;
}


button{
    margin: 2rem;
    background-color: var(--nav-hover-background-color);
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
    width: 550px;
  }
  
  button:hover {
    background-color: rgb(9, 58, 138);
  } 

/*footer*/
.containerfoter{
    display: grid;
    grid-template-columns: 600px 700px 250px;
    }
    
    .textfoter{
        grid-column:  2/3;
        justify-content: center;
    }
    
    .foterimg img{
        grid-column: 3/4;
        width: 50px;
    }
    